/**
 * index.scss
 * - Add any styles you want here!
 */

html,
body {
  color: #bec6cb;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  width: 100%;
}

.global-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.top-nav-container {
  flex: 0 0 auto;
  background: #1c262f;
  margin-left: 0;
  border-bottom: 1px solid #1c262f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
  color: white;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
}

.top-nav-title {
  width: 100%;
  white-space: nowrap;
  padding: 1.5rem 0;
}

.top-nav-container-toggle {
  margin-left: 300px;
}

.top-nav-title h4 {
  margin: 0;
  text-transform: capitalize;
}

.content-container {
  flex: 1;
  width: 100%;
}

.side-nav-container {
  display: flex;
  flex-direction: column;
  background: #2e3d49;
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
}

.side-nav-container-toggle {
  width: 300px;
}

.side-nav-title,
.side-nav-filter {
  flex-shrink: 0;
  text-align: center;
  padding: 1.5em 0;
  overflow: hidden;
  white-space: nowrap;
}

.locations-items {
  height: 100%;
  overflow: auto;
  white-space: nowrap;
}

.locations-items ul {
  list-style: none;
  padding-left: 1em;
}

.locations-items ul li {
  margin-bottom: 0.8em;
}

.locations-items ul li:hover {
  color: white;
}

.locations-items ul li:hover {
  cursor: pointer;
}

.menu-bar-icon {
  position: absolute;
  top: 13px;
  right: -2.6em;
}

.menu-bar-icon a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.map-container {
  height: 100%;
  margin-left: 0;
  -webkit-transition: all 0.2s ease-in-out;
}

.map-container-toggle {
  margin-left: 300px;
}

#map {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 575px) {
  .side-nav-container {
    width: 0;
  }
  .side-nav-container-toggle {
    width: 100%;
  }
} 